:root {
  --primary: #1e1b8f;
  --secondary: #2b26aa;
  --background: white;
  --text: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: var(--primary);
}

.logo {
    color: rgb(72, 211, 72);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links .green{
    color: rgb(72, 211, 72);
}

.nav-links a {
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.download-btn {
  padding: 8px 16px;
  border: none;
  background: var(--primary);
  color: var(--text);
  border-radius: 5px;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: var(--secondary);
  padding: 20px;
  border-radius: 10px;
}

.card h3 {
  margin-bottom: 10px;
  opacity: 0.8;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

.table-section {
  margin-bottom: 40px;
}

.table-section h2 {
  margin-bottom: 15px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--secondary);
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background: var(--primary);
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--primary);
}

/* Analytics
.analytics h2 {
  margin-bottom: 20px;
}

.bar {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}

.bar span {
  width: 50px;
}

.bar-fill {
  flex: 1;
  height: 12px;
  background: var(--secondary);
  border-radius: 6px;
  position: relative;
}

.bar-fill::after {
  content: "";
  display: block;
  height: 100%;
  background: var(--primary);
  border-radius: 6px;
  width: 100%;
} */

@media (max-width: 768px) {
  .page-header {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .nav-links {
    display: none;
  }
}
